<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <img class="intro-image" src="{% static 'images/start_image.jpg' %}" alt="Description of the image">
                <div class="rectangle">
                    Podium <!-- Текст внутри прямоугольника -->
                </div>
            </div>
        </div>
   </div>

</body>
</html>
